{
  "plugins": ["prettier-plugin-sql"],
  "sqlFormat": {
    "language": "tsql",
    "keywordCase": "upper",
    "indent": "    ",
    "linesBetweenQueries": 2,
    "commaPosition": "before",
    "lineWidth": 80,
    "denseOperators": false,
    "newlineBeforeOpenParen": false,
    "newlineBeforeCloseParen": false,
    "alignColumnDefinitions": true,
    "alignKeywords": true,
    "indentClauses": true
  }
}